.display{
    display: inline-block;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 15px;
    position: relative;
    width: 20px;
    height: auto;
    top:-40px;
    left: 1100px;
    margin-left: 30px;
    align-items: center;
    
}
  .display:hover{
    text-decoration: underline;
    cursor: pointer;
  }
   .icon{
    width: 20px;
    height: 20px;
    position: relative;
    align-items: center;
    top: 22px;

   }
   .card{
    background-color: white;
    box-shadow: 0px 4px 6px  rgb(161, 159, 159);
    width: 250px;
   
    color: black;
    border-radius: 8px;
    position: absolute;
    background: white;
    opacity: 0;
    visibility:hidden;
    transition: opacity 1s ease-in-out, visibility 1s ease-in-out;
    transform: translateX(-50%);
    top: -15px;
    right: -110px;
    padding: 28px;
   }
   .cardcontainer{
    width: 64px;
    padding: 7px;
    height: auto;
    display: inline-block;
   }
   
   .cardcontainer > img {
    width: 50px;
    height: 50px;
   }
  .cardcontainer >p{
    padding-left: 12px;
    margin: 0;
    padding-top: 8px;
    
  }   
  .icon3{
    width: 48px;
    height: 48px;
    border-radius: 50%;
    margin: 0px;
    object-fit: cover;
    position: relative;
    align-items: center;
    top: 25px;
    margin-top: 10px;
    padding-left: -20px;
  
  }
  .icon:hover .card{
    opacity: 1;
    visibility: visible;
  }
  .cardcontainer:hover{
    border: 1px solid;
    border-radius: 5px;
  }
  .icon4{
    width: 20px;
    height: 20px;
    position: relative;
    align-items: center;
    top: -55px;
    padding-left: 5px;
   }
   .dev{
    font-size: 100px;
    color:rgb(68, 172, 252) ;
    font-family: arial;
    margin-left: -5px;
   }
   .dev1{
    font-size: 100px;
    color:rgb(252, 88, 51) ;
    font-family: arial;
    margin-left: -5px;
   }
   .dev2{
    font-size: 100px;
    color:rgb(235, 179, 12) ;
    font-family: arial;
    margin-left: -5px;
   }
   .dev3{
    font-size: 100px;
    color:rgb(27, 144, 6) ;
    font-family: arial;
    margin-left: -5px;
   }
   .side{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    align-items: center;
    justify-content: center;
    
   }
   
   .searchinput{
    width: 70vw;
    height: auto;
    border-radius: 25px;
    padding: 10px;
    border: 1px solid #dfe1e5;
   
    margin-top: 20px;
    outline: none;
   }
     .iconimage{
        position: absolute;
        top: 67%;
        right: 10px;
        transform: translateY(-50%);
        width: 15px;
        height: 15px;

    
     }
     .searchinput:hover{
        box-shadow: 0px 4px 6px gray;
        border:0;
     } 
     .btn4{
        background-color: rgb(226, 218, 218);
        width: 120px;
        height: 40px;
        text-align: center;
        border: 0px solid;
        margin: 10px;
     }
     .btn4:hover{
        border: 1px solid;
        box-shadow: 0px 4px 6px grey;
        display: inline-block;
     }